@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

.container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
}


.container_left{
    display: flex;
    width: 55%;
    height: 100vh;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    left: 0;
}
.container_left h1{
    color: #fff;
    font-size: clamp(2.5rem, 4vw, 50rem);
    font-family: "Inter", serif;
    font-weight: bold;
    font-style: normal;
    width: 50%;
    text-align: center;
}
.container_left img{
    width: 50%;
    height: 50%;
}


/* TODO: CONTAINER RIGHT */
.container_right{
    width: 45%;
    height: 100vh;
    background-color: #000000c9;
    right: 0;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_login{
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: max-content;
}
.container_login h1{
    color: #fff;
    font-size: clamp(2.5rem, 4.5vw, 50rem);
    background-color: transparent;
    font-family: "Inter", serif;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 15%;
    width: fit-content;
}

.container_login input{
    background-color: transparent;
    color: #fff;
    font-size: 35px;
    outline: none;
    offset: none;
    border: none;
    position: relative;
    margin-top: 8%;
    border-bottom: 1px solid #fff;
    transition: 0.9s;
}
.container_login input:focus{
    border-bottom: 1px solid #3a45d6;
}
.container_login input::placeholder{
    color: #b8b8b860;
}
#input_user{
    width: 85%;
    margin-bottom: 15%;
}
#input_password{
    width: 35%;
    margin-bottom: 40%;
}

.button_login{
    background-color: #0F1D4E;
    color: #fff;
    font-family: "Inter", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    border: none;
    width: 25%;
    height: 50px;
    border-radius: 35px;
    box-shadow: #000 1px 4px 10px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -6vh;
    transition: 0.9s;
}
.button_login:hover{
    background-color: #0e2269;
}