@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

.container_record{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    top: 3vh;
}

.form_dados_familiares, .form_dados_documentos, 
.form_dados_endereco, .form_dados_bancarios,
.form_dados_escolares, .form_dados_vinculo{
    width: 100%;
    background-color: transparent;
    color: #fff;
    font-size: 25px;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: relative;
    margin-bottom: 5%;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 3%;
}

input{
    width: 70%;
}

select{
    width: 100%;
}

.record{
    width: 90%;
    height: 312%;
    background-color: #D9D9D9;
    margin: 20px;
    border-radius: 15px;
    position: relative;
    left: 3%;
}

.foto{
    width: 17%;
    height: 37vh;
    background-color: #fff;
    margin: 45px 45px 45px 50px;
    position: relative;
    left: 1%;
}
.foto .img{
    position: absolute;
    display: none;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.foto button{
    position: absolute;
    top: 82%;
    left: 78%;
    border: none;
    width: 15%;
    height: 12%;
    border-radius: 100px;
    background-color: #F9D373;
    cursor: pointer;
    transition: 0.9s;
}
.foto button:hover{
    background-color: #ffbc11;
}
.foto button .paperclip{
    width: 60px;
}


/* TODO: CONTAINER DADOS PESSOAIS*/
    .form_dados_pessoais{
        position: absolute; 
        left: 24%;
        top: 3%;
        width: 74%;
        background-color: transparent;
        color: #fff;
        font-size: 25px;
        font-family: "Open Sans", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;                     
    }


/* TODO: CONTAINER DADOS FAMILIARES */
    .spandf{
        color: #000;
        font-family: "Inter", serif;
        font-weight: bold;
        font-style: normal;
        font-size: 22px;
    }

    #dado_civil{
        margin-top: 2%;
    }
     

/* TODO: CONTAINER DADOS VÍNCULO */
    #anexo{
        width: 100vh;
        height: 50vh;
    }
    #anotacoes{
        position: relative;
        margin-top: -4%;
        width: 60%;
    }
    .input_anotacoes{
        width: 100%;
        height: 53%;
        border: none;
        resize: none;
        font-size: 12px;
        outline-style: none;
        font-size: 25px;
        padding-left: 0.2%;
        font-family: "Open Sans", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }


    #input_files{
        width: 35vh;
    }
    .name_file{
        color: #182a6b;
    }

    #anexoss{
        height: 50vh;
        width: 71vh;
    }
    .name_file2{
        width: 66vh;
        height: 44vh;
        overflow: auto;
        position: absolute;
        margin-top: 3%;
    }
    ul li{
        margin-top: 0.5rem;
        margin-left: 25%; 
        color: #182a6b;
        word-break: break-word;
    }
    ul{
        margin-top: -25%;
    }

    .clear_files{
        position: relative;
        left: 350px;
        top: -53.8vh;
        width: 10%;
        font-size: 22px;
        padding-left: 0.2%;
        font-family: "Open Sans", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    

.button_send{
    width: 8%;
    height: 6vh;
    font-size: 15px;
    margin: 4%;
    position: relative;
    left: 41%;
    border-radius: 55px;
    font-size: 20px;
    font-family: "Inter", serif;
    font-weight: bold;
    font-style: normal;
    border: none;
    background-color: #0F1D4E;
    color: #fff;
    cursor: pointer;
    transition: 0.9s;
    margin-top: 1%;
}
.button_send:hover{
    background-color: #182a6b;
}

#data_docs{
    width: fit-content;
}